body {
    font-family: 'Archivo Narrow', sans-serif;
}

button:disabled {
    background: rgba(83, 83, 83, 0.5);
}

button {
    background: #3d71da;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}

button:hover {
    background: #3359b9;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #a8a8a8;
}

button:enabled {
    cursor: pointer;
}

.heading {
    font-size: 38px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.subtext {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.60);
}

.form-center {
    padding-left: 20px;
    margin: 0 auto;
}

.margin-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-l15 {
    margin-left: 15px;
}

.margin-b15 {
    margin-bottom: 15px;
}

.showData {
    padding: 20px;
    margin-top: 25px;
    background: azure;
}

.border {
    border: 2px solid rgb(162, 162, 162);
    box-shadow: 4px 4px 3px #b7b7b7;
    width: 30%;
}

.btn-logout {
    background: red;
}

.btn-logout:hover {
    background: #9b0000;
}